{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}
{% block content %}
<main class="max-w-7xl mx-auto mt-6 px-3">
    <div class="w-full flex max-sm:justify-center gap-6 p-3 sm:p-5 rounded-2xl border mx-auto">
        <div class="flex items-center">
            <div class="w-min rounded-full px-4 py-3 sm:px-6 sm:py-5 border-4 border-blue-900">
                <i
                    class="fa-solid fa-user text-3xl sm:text-5xl bg-gradient-to-r from-blue-900 to-red-900 inline-block text-transparent bg-clip-text"></i>
            </div>
        </div>
        <div class="flex flex-col md:flex-1">
            <h1 class="text-2xl font-semibold mt-3.5">{{ request.user.username }}</h1>
            <h2 class="text-xs font-semibold text-neutral-500 mt-1"> Last login: {{ request.user.last_login }}
            </h2>
            <div class="mt-4 flex flex-wrap gap-2">
                <a href="{% url 'main:signout' %}"
                    class="max-w-48 w-full py-2 bg-red-500 rounded-xl font-semibold text-white text-center hover:shadow hover:bg-red-600 transition duration-300">
                    <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Sign out </a>
                <button data-modal-target="modal" data-modal-toggle="modal"
                    class="max-w-48 w-full py-2 bg-emerald-500 rounded-xl font-semibold text-white text-center hover:shadow hover:bg-emerald-600 transition duration-300"
                    onclick="showModal();">
                    <i class="fa-solid fa-plus mr-2"></i> Create Product </button>
            </div>
        </div>
    </div> {% include 'profile/modal.html' %} <div class="mt-8 py-2 rounded-2xl">
        <h1 class="font-bold text-xl md:text-2xl">Your Products</h1>
        <div id="product_cards"></div>
    </div>
</main>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'profile/script.js' %}"></script>
{% endblock script %}