<footer class="py-10 mt-10 border-t px-3">
    <div class="max-w-6xl mx-auto">
        <div class="flex justify-between">
            <div>
                <a href="">
                    <img src="https://i.imgur.com/H96oWJw.png" class="max-w-28 md:max-w-36">
                </a>
                <nav class="mt-8 flex flex-wrap items-center justify-start gap-x-5 gap-y-1 font-semibold max-w-80">
                    <a href="" class="hover:text-neutral-600 transition">Mice</a>
                    <a href="" class="hover:text-neutral-600 transition">Mousepads</a>
                    <a href="" class="hover:text-neutral-600 transition">Keyboards</a>
                    <a href="" class="hover:text-neutral-600 transition">Headsets</a>
                    <a href="" class="hover:text-neutral-600 transition">Chairs</a>
                    <a href="" class="hover:text-neutral-600 transition">Monitors</a>
                    <a href="" class="hover:text-neutral-600 transition">Controllers</a>
                </nav>
            </div>
            <div class="flex gap-5 text-base md:text-xl">
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-line"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="w-full border-t mt-8 pt-3 font-semibold flex max-md:flex-col gap-3 justify-between items-center">
            <h1 class="text-sm md:text-lg font-bold text-blue-900"> Tugas <a
                    href="https://pbp-fasilkom-ui.github.io/ganjil-2025" class="text-red-600 hover:underline">PBP</a>
                Gasal 2024/2025 </h1>
            <div class="flex flex-wrap justify-center gap-x-4 md:gap-x-8 gap-y-2">
                <div class="flex gap-2 text-blue-900">
                    <i class="fa-regular fa-user text-xs pt-0.5"></i>
                    {{ name }}
                </div>
                <div class="flex gap-2 text-red-600">
                    <i class="fa-regular fa-address-card text-xs pt-0.5"></i>
                    {{ npm }}
                </div>
                <div class="flex gap-2 text-red-600">
                    <i class="fa-regular fa-note-sticky text-xs pt-0.5"></i>
                    {{ class }}
                </div>
            </div>
        </div>
    </div>
</footer>