<header class="shadow-md z-50 fixed top-0 w-full bg-white flex gap-5 justify-between px-3 md:px-8 py-4">
    <a href="{% url 'main:landing' %}">
        <img src="https://i.imgur.com/H96oWJw.png" class="max-w-28 md:max-w-36">
    </a>
    <nav class="flex items-center justify-around gap-6 font-semibold max-xl:hidden">
        <a href="" class="hover:text-neutral-600 transition">Mice</a>
        <a href="" class="hover:text-neutral-600 transition">Mousepads</a>
        <a href="" class="hover:text-neutral-600 transition">Keyboards</a>
        <a href="" class="hover:text-neutral-600 transition">Headsets</a>
        <a href="" class="hover:text-neutral-600 transition">Chairs</a>
        <a href="" class="hover:text-neutral-600 transition">Monitors</a>
        <a href="" class="hover:text-neutral-600 transition">Controllers</a>
    </nav>
    <div class="flex gap-5">
        <form class="flex justify-center items-center max-md:hidden">
            <button type="submit" class="px-4 py-2 rounded-l-xl bg-neutral-100">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input class="focus:outline-none rounded-r-xl font-semibold bg-neutral-100 pr-4 py-2" placeholder="Search"
                type="text">
        </form>
        <div class="w-0.5 min-h-full flex items-center max-md:hidden">
            <div class="w-full h-[64%] bg-neutral-200"></div>
        </div>
        <div class="flex gap-3">
            <a href="{% url 'main:create' %}"
                class="flex items-center border-2 border-blue-700 hover:border-blue-500 text-blue-700 hover:text-blue-500 transition duration-300 rounded-xl px-3 md:px-4 font-bold">Create
                Product</a>
            <!-- <a href=""
                class="flex items-center bg-red-600 hover:bg-red-500 transition duration-300 rounded-xl px-3 md:px-4 font-bold text-white">Sign
                up</a> -->
        </div>
    </div>
</header>